PNG Mode0	"..\Server\Images\ModeIcons\0.png"
PNG Mode1	"..\Server\Images\ModeIcons\1.png"
PNG Mode2	"..\Server\Images\ModeIcons\2.png"
PNG Mode3	"..\Server\Images\ModeIcons\3.png"
PNG Mode4	"..\Server\Images\ModeIcons\4.png"
PNG Mode5	"..\Server\Images\ModeIcons\5.png"
PNG Mode6	"..\Server\Images\ModeIcons\6.png"
PNG Mode7	"..\Server\Images\ModeIcons\7.png"
PNG Mode8	"..\Server\Images\ModeIcons\8.png"
PNG Mode9	"..\Server\Images\ModeIcons\9.png"
PNG Mode10	"..\Server\Images\ModeIcons\10.png"
PNG Mode11	"..\Server\Images\ModeIcons\11.png"
PNG Mode12	"..\Server\Images\ModeIcons\12.png"
PNG Mode13	"..\Server\Images\ModeIcons\13.png"
PNG Mode14	"..\Server\Images\ModeIcons\14.png"
PNG Mode15	"..\Server\Images\ModeIcons\15.png"
PNG Mode16	"..\Server\Images\ModeIcons\16.png"
PNG Mode17	"..\Server\Images\ModeIcons\17.png"
PNG Mode18	"..\Server\Images\ModeIcons\18.png"
PNG Mode19	"..\Server\Images\ModeIcons\19.png"
PNG Mode20	"..\Server\Images\ModeIcons\20.png"
PNG Mode21	"..\Server\Images\ModeIcons\21.png"
PNG Mode22	"..\Server\Images\ModeIcons\22.png"
PNG Mode23	"..\Server\Images\ModeIcons\23.png"
PNG Mode24	"..\Server\Images\ModeIcons\24.png"
PNG Mode25	"..\Server\Images\ModeIcons\25.png"
PNG Mode26	"..\Server\Images\ModeIcons\26.png"
PNG Mode27	"..\Server\Images\ModeIcons\27.png"
PNG Mode28	"..\Server\Images\ModeIcons\28.png"
PNG Logo	"..\Server\Images\logo.png"
PNG LogoBlack	"..\Server\Images\logo-black.png"
PNG Icon128	"..\Server\Images\icon.png"
PNG stConnectGreen	"..\Server\Images\StatusIcons\connect-green.png"
PNG stConnectRed	"..\Server\Images\StatusIcons\connect-red.png"
PNG stConnectYellow	"..\Server\Images\StatusIcons\connect-yellow.png"
PNG stLatency		"..\Server\Images\StatusIcons\latency.png"
PNG stLeds		"..\Server\Images\StatusIcons\leds.png"
PNG stError		"..\Server\Images\StatusIcons\error.png"
PNG stFullscreen	"..\Server\Images\StatusIcons\Fullscreen.png"
PNG stPower		"..\Server\Images\StatusIcons\power.png"
